/* IMPORTED FONTS */

@font-face {
    font-family: 'Agrandir-regular';
    src: url(fonts/Agrandir-Regular.otf);
}
@font-face {
    font-family: 'Agrandir-narrow';
    src: url(fonts/Agrandir-Narrow.otf);
}
@font-face {
    font-family: 'Agrandir-WideBlackItalic';
    src: url(fonts/Agrandir-WideBlackItalic.otf);
}
@font-face {
    font-family: 'Agrandir-WideLight';
    src: url(fonts/Agrandir-WideLight.otf);
}
@font-face {
    font-family: 'Agrandir-ThinItalic';
    src: url(fonts/Agrandir-ThinItalic.otf);
}
@font-face {
    font-family: 'Agrandir-TextBold';
    src: url(fonts/Agrandir-TextBold.otf);
}

/* UNIVERSAL*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Agrandir-regular";
    font-size: 40px;
    line-height: 42px;
    color: #000;
}

h2 {
    font-family: "Agrandir-regular";
    font-size: 24px;
    line-height: 28px;
    color: #000;
}

h3 {
    font-family: "Agrandir-regular";
    font-size: 20px;
    line-height: 24px;
    color: #000;
}

p, a {
    font-family: "Agrandir-narrow";
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

/* BUTTONS */
.cta-button {
    display: inline-block;
    width: 105px;
    height: 30px;
    border-radius: 40px;
    border: 1px solid #fff;
    background-color: #81b428;
    font-family: "Agrandir-regular";
    font-size: 12px;
    text-align: center;
    color: #fff;
    line-height: 30px;
    text-decoration: none;
}

.cta-button--long {
    font-size: 14px;
    display: inline-block;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    background-color: #81b428;
    font-family: "Agrandir-regular";
    text-align: center;
    color: #fff;
    line-height: 40px;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #648D1C;
}

.cta-button--long {
    background-color: #648D1C;
}

/* HEADER */

header {
    background-color: #fff;
    padding: 1rem 2rem;
    width: 100%;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.header-logo-image {
    width: 12%;
}

.header-wrapper__navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.header-full-size__btns {
    display: inherit;
    gap: 20px;
    margin-right: 2rem;
}

.header-wrapper__navigation ul {
    display: inherit;
}

.header-wrapper__navigation ul li {
    list-style-type: none;
    margin-right: 3rem;
}

.header-wrapper__navigation ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

.header-wrapper__navigation ul li a:hover {
    color: #81b428;
}

.header-btn:hover {
    background-color: #27ae60;
}

#headspace-logo {
    width: 40%;
}

.desktop-submenu {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 200px;
  }
  
.desktop-dropdown.open .desktop-submenu {
    display: block !important;
    visibility: visible;
  opacity: 1;
}
  
.header-wrapper__navigation ul {
    display: flex;
    gap: 2rem;
}
  
.header-wrapper__navigation li {
    position: relative;
}
  
.small-header {
    background-color: #fff;
    display: none;
    padding: 1rem;
    width: 100%;
}

.small-header--top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
}

.small-header--bottom {
    display: grid;
    grid-template-columns: 5fr 95fr;
    background-color: white;
}

.small-header-burgermenu {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: px solid #d0d1d3;
}

.open-burger-menu {
    background-color: white;
    max-width: 100%;
    max-height: 200vh;
    border-right: 1px solid #d0d1d3;
    top: 0px;
    left: 0;
    display: none;
    z-index: 1000;
}

.burger-menu-top {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d0d1d3;
    font-weight: bold;
}

.headerlist {
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    padding-left: 20px;
    font-size: 30px;
}

.headerlist li {
    list-style: none;
    width: 100%;
    padding: 10px 15px;
    border: 0px solid #d0d1d3;
    font-size: 20px;

    background-color: rgb(255, 255, 255);
}

.headerlist li:hover {
    background-color: #dddddd;
}

.headerlink {
    color: rgb(0, 0, 0);
    font-family: 'Agrandir';
    text-decoration: none;
    font-weight: 300;
    font-size: 22px;
    color: #4c4e54;
}

.has-dropdown .dropdown {
    display: none;
    list-style: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.has-dropdown.open .dropdown {
    display: block;
}

.burger-menu-bottom {
    background-color: white;
    padding-top: 10px;
}

/* HERO */

.hero-image {
    padding: 2rem;
    width: 100%;
    height: 650px;

    background-image: url(images/headpsaceskilt.webp);
    background-color: #81b428;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-image__title {
    margin-bottom: 0.5rem;
    font-family: 'Agrandir-regular';
    color: #fff;
}

.hero-image__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

/*SECTION 1 - VIDEO MED JAKOB */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    padding-top: 4rem;
    padding-bottom: 0rem;
    width: 100%;
    margin-bottom: 2rem;
}

.section-1__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-bottom: 2rem;
}

.section-1__text__heading {
    margin-bottom: 1.5rem;
}

.section-1__video {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1__video video {
    width: 100%;
    height: 100%;;
}

/*SECTION 2 - QUIZ */

.section-2 {
    width: 100%;
    height: 800px;
    background-color: red;
}

.quiz-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2.5rem;
    padding-top: 5rem;
    height: 100vh;
    background-image: url('images/Hoptimist.png');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0% 78%;
    background-color: red;
}

.quiz-title {
    font-family: 'Agrandir-WideBlackItalic';
    color: #81b428;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.quiz-text {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.quiz-card {
    background-color: coral;
    display: none;
}

.quiz-card-wrapper {
    padding: 1.4rem;
}

.quiz-card-bottom-wrapper{
    display: flex;
    justify-content: space-between;
}

.quiz-card-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    gap: 1.5rem;
}

.quiz-card-options div {
    display: flex;
    flex-direction: row;
}

.quiz-bottom-dot-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.quiz-bottom-dot {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: lightgray;
}

/*SECTION 3 - INFO */

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem 2rem;
    width: 100%;
    
    background-color: #fff;
}

.section-3__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-bottom: 2rem;
}

.section-3__text h2 {
    margin-bottom: 1.5rem;
}

.section-3__img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
}

.section-3__img__container img {
    width: 100%;
    height: 100%;
}

/*SECTION 4 - SLIDESHOW */

.section-4 {
    width: 100%;
    background-color: #CCBDDD;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slide-box {
    display: none;
}

.slide-box.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.slide-box__text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 36px;
    flex-grow: 1;
}

.slide-box__text h3 {
    margin-bottom: 10px;
}

.slide-box__text p {
    margin-top: 0px;
    margin-bottom: 30px;
}

.slide-box__text-tider {
    font-family: "Agrandir-WideBlackItalic";
}

.slide-box__image {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.slide-box__image img {
    width: 80%;
    height: auto;
}

.dot-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 4px;
    background-color: #9B8BBB;
    border-radius: 50%;
    display: inline-block;
}

.dot.active {
    background-color: #81b428;
}

.slide-box__row {
    display: none;
}

.slide-box__column {
    display: none;
}

/* SECTION 5 - Q&A*/

.section-5 {
    width: 100%;
    padding: 4rem 2rem;
}

.qna-heading {
    margin-bottom: 2rem;
}

.qna-question-box__title {
    font-weight: 100;
    font-size: 19px;
    margin-top: 4px;
}

.qna-wrapper {
    display: flex;
    flex-direction: column;
}

.qna-question-box {
    border-bottom: 1px solid #000;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.qna-question-box:last-child {
    margin-bottom: 0rem;
}

.qna-question-box__wrapper {
    display: flex;
    align-items: center;
}

#qna-question-box__wrapper-text--1,
#qna-question-box__wrapper-text--2,
#qna-question-box__wrapper-text--3,
#qna-question-box__wrapper-text--4,
#qna-question-box__wrapper-text--5 {
    margin-top: 2rem;
    display: none;
}

#qna-btn-1,
#qna-btn-2,
#qna-btn-3,
#qna-btn-4,
#qna-btn-5 {
    background-color: #81b428;
    width: 50px;
    padding: 3px;
    margin-right: 1rem;
}

#qna-btn-1:hover,
#qna-btn-2:hover,
#qna-btn-3:hover,
#qna-btn-4:hover,
#qna-btn-5:hover {
    background-color: #648D1C;
}


/* SECTION 6 - INFO */

.section-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem 2rem;
    width: 100%;
    
    background-color: #F7CE5B;
}

.section-6-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-bottom: 1rem;
}

.section-6-wrapper__heading {
    margin-bottom: 1.5rem;
}

.section-img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 280px;
}

.section-img__container img {
    width: 100%;
}

/* SECTION 7 - KONTAKTFORMULAR */
.section-7 {
    width: 100%;
    height: 800px;
    background-color: red;
}

.kontakt-content-wrapper {
    padding: 60px;
}

.email__container input[type="email"] {
    background-color: rgba(200, 200, 200, 0.200);
    width: 90%; 
    padding: 10px;
    margin: auto;
    border: 1px solid lightgray; 
    border-radius: 20px; 
    font-size: 16px;
}

.email__container input[type="email"]::placeholder {
    font-style: italic;
}

.checkbox__grid label {
    margin-bottom: 40px;
}

.radios {
    margin-top: 20px;
    margin-bottom: 20px;
}

.radios h2 {
    font-size: 17;
}

/*styling af popup*/
.kontakt__popup {
    background-color: white;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: none; /*skjuler pop-up som standard */
}

/*  Buttons i kontaktformular styles herunder */

/* Skjuler standard layout på radio- og checkbox-knapper */
.checkbox-radio, .checkbox__grid-check {
    display: none;
}

.checkbox-wrapper {
    margin-bottom: 20px;
}

/* Styling af labels generelt */
/* user select: none, gør at teksten ikke kan markeres */
.kontakt-content-wrapper .checkbox-label, .checkbox__grid-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 60px;
    user-select: none;

    font-family: "Agrandir-narrow";
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

.email-label {
    padding-left: 0px;
    font-style: normal;
}

/* Styling af radio-knapper */
.radio {
    position: absolute;
    left: 20;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Når radio-knappen er valgt (der kan kun vælges én) */
input[type="radio"]:checked + .radio {
    background-color: #81b428;
}

/* Flueben til valgt radio-knap */
input[type="radio"]:checked + .radio::after {
    content: '\2713'; /* Unicode flueben */
    color: white;
    font-size: 16px;
    position: absolute;
    left: 3px;
}

/* Hover-effekt for radio-knapper */
input[type="radio"]:not(:checked):hover + .radio,
input[type="radio"]:checked:hover + .radio {
    background-color: gray;
}

/* Styling af runde checkboxes til valgte positioner*/
label .checkbox {
    position: absolute;
    left: 20;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
}

/* Når checkboxen er valgt, vises en lille grøn cirkel */
input[type="checkbox"]:checked + .checkbox::after {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #81b428;
    border-radius: 50%;
}

/* Hover-effekt til checkboxes */
input[type="checkbox"]:not(:checked):hover + .checkbox,
input[type="checkbox"]:checked:hover + .checkbox {
    background-color: lightgray;
}

.positioner-button {
    background-color: rgba(200, 200, 200, 0.200);
    border: 1px solid lightgray; 
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    margin-bottom: 20px;

    font-family: "Agrandir-narrow";
    font-size: 16px;
    line-height: 24px;
    color: #000;
}

/*SECTION 8 - SOME INFLUENCERS */
.section-8 {
    background-color: #CCBDDD;
    width: 100%;
    padding: 36px;
}

.section-8 h2 {
    margin-bottom: 20px;
}
.some-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.some-box-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.some-box__influencer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.some-box__influencer--img {
    display: flex;
    width: 30%;
    max-width: 30%;
    height: auto;
}

.some-box__influencer--img img {
    display: flex;
    width: 100%;
    border-radius: 50%;
    
}
.some-box__influencer--text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.some-box__influencer--text p {
    margin-top: 0;
    font-family: "Agrandir-ThinItalic";
    font-size: 14px;
}

.some-box__influencer--text h2 {
    margin-bottom: 0px;
    font-size: 18px;
}

.some-box__influencer--icons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.some-box__influencer--icons a {
    background-color: #9B8BBB;
    border-radius: 50%;
    padding: 8px 10px;
    align-items: center;
    justify-content: center;
}

/*FOOTER*/
footer {
    background-color: #81b428;
    width: 100%;
    padding: 2rem;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
}

footer ul {
    padding: 0;
}

footer li {
    list-style-type: none;
}

Footer h4 {
    font-family: 'Agrandir-TextBold';
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

footer p, a {
    font-family: 'Agrandir-regular';
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
}

footer a:hover {
    color: white;
}

.footer-wrapper__info-cards {
    width: 43vw;
    margin-bottom: 1rem;
}


.footer-wrapper__info-cards h4 {
    margin-bottom: 1.2rem;
}

.footer-wrapper__list-socials {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.footer-wrapper__list-socials__heading {
    margin-bottom: 1rem;
}

.footer-wrapper__list-socials__so-me-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 1rem;
}

.footer-wrapper__list-socials__raadgivning__container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.footer-wrapper__list-socials__raadgivning-image {
    width: 25%;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-bottom__text {
    font-size: 12px;
    line-height: 15px;
}

@media only screen and (min-width: 768px) {
    h1 {
        font-family: "Agrandir-regular";
        font-size: 64px;
        line-height: 70px;
    }
    h2 {
        font-family: "Agrandir-regular";
        font-size: 40px;
        line-height: 46px;
    }
    h3 {
        font-family: "Agrandir-regular";
        font-size: 40px;
        line-height: 44px;
    }
    p{
        font-family: "Agrandir-narrow";
        font-size: 18px;
        line-height: 24px;
    }

    /*BUTTONS*/
    .cta-button {
        display: inline-block;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        font-size: 16px;
        line-height: 40px;
    }

    .cta-button--long {
        font-size: 14px;
        display: inline-block;
        width: 140px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #fff;
        background-color: #81b428;
        font-family: "Agrandir-regular";
        text-align: center;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
    }
    
    /*HEADER*/

    .small-header

    .burgermenu-icon {
        width: 35px;
    }

    #headspace-logo {
        width: 30%;
    }

    .small-header--top .cta-button {
        margin-right: -10rem;
    }

    /*HERO*/

    /*SECTION 1 - VIDEO MED JAKOB */

    .section-1 {
        flex-direction: row-reverse;
        align-items: center;
    
        padding: 4rem 2rem;
        padding-bottom: 0rem;
        margin-bottom: 4rem;
    }
    
    .section-1__text {
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
    }
    
    .section-1__video {
        padding: 0;
    }
    
    .section-1__video video {
        width: 100%;
    }

    /*SECTION 2 - QUIZ */

    /*SECTION 3 - INFO */

    .section-3 {
        flex-direction: row-reverse;
        padding: 4rem 2rem;
        background-color: #fff;
    }
    
    .section-3__text {
        margin-left: 2rem;
        width: 50%;
        margin-bottom: 0;
    }
    
    .section-3__text h2 {
        margin-bottom: 1.5rem;
    }
    
    .section-3__img__container {
        width: 50%;
        height: 500px;
    }
    
    .section-3__img__container img {
        width: 100%;
        height: 100%;
    }

    /*SECTION 4 - SLIDESHOW */

    .section-4 {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .slide-box.active {
        display: flex !important;
        flex-direction: row !important;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .slide-box__text {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 36px;
        flex: 0.5;
        max-width: 50%;
    }
    
    .slide-box__text h3 {
        margin-bottom: 10px;
        margin-top: 0px;
    }
    
    .slide-box__text p {
        margin-top: 0px;
    }
    
    .slide-box__text-tider {
        font-family: "Agrandir-WideBlackItalic";
    }
    
    .slide-box__image {
        display: flex;
        flex: 0.5; 
        max-width: 50%;
        justify-content: center;
        align-items: center;
        height: 600px;
        overflow: hidden;
    }
    
    .slide-box__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .dot-container {
       display: none;
    }

    .slide-box__column{
        display: flex;
        flex-direction: column;
        width: 12.5%;
        box-sizing: border-box;
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.3s ease;
        pointer-events: all;
    }

    .slide-box__column.active {
        opacity: 1;
    }

    .slide-box__column:hover {
        opacity: 1 !important;
    }

    .slide-box__row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .demo {
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
    }
    
    .slide-box__column:hover .demo {
        opacity: 1 !important;
    }

    /*SECTION 5 - Q&A*/

    .qna-heading {
        margin-top: 60px;
    }

    /*SECTION 6 - INFO */

    .section-6 {
        flex-direction: row-reverse;
        align-items:flex-start ;
        padding: 4rem 2rem;
    }

    .section-6-wrapper {
        margin-left: 2rem;
        width: 50%;
    }
    
    .section-img__container {
        width: 50%;
        height: 500px;
    }
    
    .section-img__container img {
        width: 100%;
        height: 100%;
    }
    
    #qna-btn-1,
    #qna-btn-2,
    #qna-btn-3,
    #qna-btn-4,
    #qna-btn-5 {
        width: 40px;
    }

    .qna-wrapper {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    /*SECTION 7 - KONTAKTFORMULAR */
    .checkbox__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }

      .radios h2 {
        font-size: 28;
    }
    /*SECTION 8 - SOME INFLUENCERS */
    .section-8 {
    }
    
    .some-box {
        flex-direction: row;
    }
    /*FOOTER*/
    .footer-wrapper__list-socials__raadgivning-image {
        width: 20%;
    }

    Footer h4 {
        font-family: 'Agrandir-TextBold';
        font-size: 18px;
        letter-spacing: 0.5px;
        font-weight: bold;
    }

    .footer-wrapper__list-socials__so-me-icons li a img {
        width: 25px;

    }   
}

@media only screen and (min-width: 1240px) {
    /*HEADER*/

    .header-logo-image {
        width: 15%;
    }

    /*HERO*/

    /*SECTION 1 - VIDEO MED JAKOB */
    
    .section-1 {
        padding: 8rem;
        padding-bottom: 4rem;
        flex-direction: row-reverse;
        align-items: center;
    }
    
    .section-1__text {
        display: block;
        flex-direction: column;
        align-items: center;
        margin-left: 2rem;
        width: 50vw;
    }
 
    .section-1__text__paragraph {
        width: 75%;
    }
    
    .section-1__video {
        padding: 0;
        width: 40vw;
    }
    
    .section-1__video video {
        width: 60%
    }

    /*SECTION 2 - QUIZ */
    /*SECTION 3 - INFO */

    .section-3 {
        padding: 8rem;
    }

    /*SECTION 4 - SLIDESHOW */
    .section-4 {
        max-height: 500px;
    }

    .slide-box.active {
        max-height: 500px;
    }

    .slide-box__image {
        max-height: 500px;
    }

    .slide-box__column {
        opacity: 0.6;
    }

    .slide-box__column.active {
        opacity: 1;
    }

    .slide-box__column:hover .demo {
        opacity: 1 !important;
    }

    /* .slide-box__text {
        margin: 8rem;
    } */

    /*SECTION 5 - Q&A*/

    .section-5 {
        padding: 8rem;
    }

    .qna-heading {
        margin-top: 5rem;
        margin-bottom: 3rem;
    }

    .qna-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    #qna-btn-1,
    #qna-btn-2,
    #qna-btn-3,
    #qna-btn-4,
    #qna-btn-5 {
        width: 50px;
    }

    /*SECTION 6 - INFO */

    .section-6 {
        justify-content: center;
        align-items: center;
        padding: 8rem;
    }

    /*SECTION 7 - KONTAKTFORMULAR */
    .checkbox__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
    /*SECTION 8 - SOME INFLUENCERS */
    /*FOOTER*/
    footer {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem 8rem;
    }

    .footer-wrapper {
        margin-right: auto;
        margin-left: auto;
    }

    .footer-wrapper__info-cards {
        width: 12vw;
        margin-bottom: 1rem;
    }

    .footer-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 1.3rem;
    }

    .footer-wrapper__list-socials {
        margin-top: 0rem;
    }

    .footer-wrapper__list-socials__so-me-icons {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .footer-wrapper__list-socials__raadgivning__container {
        margin-left: -7rem;
        justify-content: flex-end;
    }

    .footer-wrapper__list-socials__raadgivning-image {
        width: 30%;
        margin-top: -90px;
    }
}

/* NEDSTÅENDE BRUGES KUN TIL HEADER */

@media screen and (max-width: 1375px) {

    .header__nav--sub-category ul li a {
        font-size: 12px;
    }

    .top-banner__nav a {
        font-size: 8px;
    }

    .user-icon{
        display: flex;
        justify-content: flex-end;
    }
    /*HERO*/
    /*SECTION 1 - VIDEO MED JAKOB */
    /*SECTION 2 - QUIZ */
    /*SECTION 3 - INFO */
    /*SECTION 4 - SLIDESHOW */
    /*SECTION 5 - Q&A*/
    /*SECTION 6 - INFO */
    /*SECTION 7 - KONTAKTFORMULAR */
    /*SECTION 8 - SOME INFLUENCERS */
    /*FOOTER*/
}

@media screen and (max-width: 1020px) {
    header {
        display: none;
    }

    .top-banner {
        display: none;
    }

    .small-header{
        display: block;
    }
}